.iframe-window {
  width: 100%;
  height: 49vh;
  position: relative;
  overflow: scroll;
  resize: vertical;
  border: none; 
}

.iframe-window-vertical {
  width: 50vh;
  height: 100vh;
  position: relative;
  overflow: scroll;
  resize: horizontal;
  border: none; 
  float: left;
}

#split2 {
  background-color: #a8afec;
  border: none;
  border-radius: 12px;
  color: rgb(0, 0, 0);
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

.vr {
  border-left: 6px solid green;
  height: 100vh;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  z-index: -1;
}